*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    user-select:none;
    -webkit-user-select:none;
}

body{
    overflow:hidden;
    font-family:Arial,sans-serif;
    background:#0b2e13;
}

#game{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;

    background:
    linear-gradient(rgba(0,0,0,.18),rgba(0,0,0,.18)),
    repeating-linear-gradient(
        90deg,
        #2e7d32 0px,
        #2e7d32 40px,
        #388e3c 40px,
        #388e3c 80px
    );
}

#hud{
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    display:flex;
    justify-content:space-between;
    z-index:1000;
    color:#fff;
    font-size:22px;
    font-weight:bold;
    text-shadow:2px 2px 5px #000;
}

#player{
    position:absolute;
    bottom:80px;
    left:50%;
    transform:translateX(-50%);
    font-size:55px;
    z-index:20;
}

.zombie{
    position:absolute;
    font-size:50px;
    z-index:15;
}

.bullet{
    position:absolute;
    font-size:22px;
    z-index:18;
}

.tree{
    position:absolute;
    font-size:55px;
    z-index:5;
}

.rock{
    position:absolute;
    font-size:42px;
    z-index:5;
}

#moveLeft,
#moveRight{
    position:fixed;
    bottom:20px;
    width:80px;
    height:80px;
    border:none;
    border-radius:50%;
    font-size:35px;
    background:#ffffffcc;
    box-shadow:0 0 10px #000;
}

#moveLeft{
    left:20px;
}

#moveRight{
    left:120px;
}

#moveLeft:active,
#moveRight:active{
    transform:scale(.9);
}

#fire{
    position:fixed;
    right:20px;
    bottom:20px;
    width:90px;
    height:90px;
    border:none;
    border-radius:50%;
    background:#d50000;
    color:#fff;
    font-size:22px;
    font-weight:bold;
    box-shadow:0 0 12px #000;
}

#fire:active{
    transform:scale(.9);
}
